#!/bin/bash
#
#   /etc/init.d/carrot
#
# chkconfig: 345 95 5
# description: Runs the carrot daemon.
# processname: carrot.py
# pidfile: /var/run/carrot.pid


# Source function library.
. /etc/init.d/functions


#startup values
pidfile="/var/run/carrot.pid"
logfile="/var/log/carrot.log"
prog="/opt/sites/default/env/bin/python /opt/sites/default/src/manage.py carrot"
lockfile="/var/lock/subsys/carrot"
processname='carrot'

RETVAL=0

start() {
    if [ -f $lockfile ]; then
        checkpid `cat $pidfile` && exit 1 || echo "Lockfile found but no pid found, starting..."
    fi
    echo -n $"Starting $prog: "
    daemon --user=${USER-root} $prog --pid $pidfile --log $logfile
    RETVAL=$?
    echo
    [ $RETVAL -eq 0 ] && touch $lockfile 
    return $RETVAL
}

stop() {
    echo -n $"Stopping $prog: "
    killproc -p $pidfile -d 10 
    RETVAL=$?
    echo
    [ $RETVAL -eq 0 ] && rm -f $lockfile
    return $RETVAL
}

restart() {
    stop
    start
}

reload() {
    restart
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    reload|restart)
        restart
        ;;
    condrestart)
            [ -e $lockfile ] && restart
            RETVAL=$?
            ;;
    status)
        status `echo $prog | awk '{print $NF}'`
        RETVAL=$?
        ;;
    *)
        echo $"Usage: $0 {start|stop|restart|condrestart|status}"
        RETVAL=1
esac

exit $RETVAL
