#!/bin/bash
#
#   /etc/init.d/carrot-workers
#
# chkconfig: 345 95 5
# description: Runs the carrot-workers daemon.
# pidfile: /var/run/carrot-workers.pid


# Source function library.
. /etc/init.d/functions


#startup values
pidfile="/var/run/carrot-workers.pid"
prog="/opt/sites/johnDev/env/bin/python /opt/sites/johnDev/project/manage.py carrot-workers"
lockfile="/var/lock/subsys/carrot-workers"
#USER='nginx'

RETVAL=0

start() {
    [ -f $lockfile ] && exit 1
    echo -n $"Starting $prog: "
    user=${USER-root}
    daemon --user=$user $prog
    RETVAL=$?
    echo
    [ $RETVAL -eq 0 ] && touch $lockfile
    return $RETVAL
}

stop() {
    echo -n $"Stopping $prog: "
    killproc $prog
    RETVAL=$?
    echo
    [ $RETVAL -eq 0 ] && rm -f $lockfile
    return $RETVAL
}

restart() {
    stop
    start
}

reload() {
    restart
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    reload|restart)
        restart
        ;;
    condrestart)
            [ -e $lockfile ] && restart
            RETVAL=$?
            ;;
    status)
        status $prog
        RETVAL=$?
        ;;
    *)
        echo $"Usage: $0 {start|stop|restart|condrestart|status}"
        RETVAL=1
esac

exit $RETVAL
                                                                                                                                                                              77,1          Bot

